body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 110vh; */
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    background: #fff;
    padding: 18px;
    margin: 60px;
    border-radius: 8px;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1355px;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 18px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px; /* Asegúrate de que hay suficiente espacio alrededor del grupo de botones */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Ajusta el tamaño del padding para asegurar que los botones sean visibles */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    text-align: center; /* Asegúrate de que el texto esté centrado */
}

button:hover {
    background-color: #0056b3;
}

#borrar {
    background-color: #dc3545;
}

#borrar:hover {
    background-color: #c82333;
}

#ver-nomina {
    background-color: #28a745;
}

#ver-nomina:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
