body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo del formulario */
}

h1 {
    text-align: center;
    margin-bottom: 18px;
    color: #333;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-group {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
}

button:hover {
    background-color: #0056b3;
}

#borrar {
    background-color: #dc3545;
}

#borrar:hover {
    background-color: #c82333;
}

#ver-nomina {
    background-color: #28a745;
}

#ver-nomina:hover {
    background-color: #218838;
}
